* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

h1 {text-align: center; margin: 30px 60px;
font-family: Cambria, Arial black }

.row {width: 100%; margin: auto;}

.sec1 {background-color: khaki; width: 29%; height: 180px; 
	position: relative; overflow: hidden;}
.sec2 {background-color: khaki; width: 29%; height: 180px; 
	position: relative; overflow: hidden;}
.sec3 {background-color: khaki; width: 20%; height: 180px; 
	position: relative; overflow: hidden;}

p {float: left; padding: 37px 10px 2px 10px; 
font-size: 20px;
}
div p {border: 1px solid black; margin-left: 40px;
}

span {border: 1px solid black; width:130px; height: 38px; 
	
position: absolute;
top: 0; right: 0; 
text-align: center;
padding-top: 1.5%;
font-family: Arial;
}
.chicken {background-color: tomato;}
.beef {background-color: slateblue;}
.sushi {background-color: violet;}

/*------------Media queries--------------*/

/*large devs*/
@media (min-width: 992px) {
	.sec1 {width: 29%; }
	.sec2 {width: 29%; }
	.sec3 {width: 29%; }
	.row {margin: auto;} 
}

/*tablet view*/

@media (min-width: 768px) and (max-width: 991px) {
	.sec1 {width: 41%; margin-right: 35px}
	.sec2 {width: 41%; margin-left: 10px}
	.sec3 {width: 87%; margin-top: 40px}
	div p {margin-left: 65px}

}

/*mobile view*/

@media (max-width: 767px) {
	.sec1 {width: 80%; margin-bottom: 22px}
	.sec2 {width: 80%; margin-bottom: 22px}
	.sec3 {width: 80%; margin-bottom: 22px}
	div p {margin-left: 82px}